<form method="POST" action="/addnewstudent">
    <label>
        Name:
    </label>
    <input name="name" />
    <label>
        Course:
    </label>
    <input name="course" />
    <label>
        Phone:
    </label>
    <input name="phone" />
    <button type="submit">Add New Student</button>
</form>